/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a {
}
.form-inline .form-group{
      width: 25%;
        margin-left: 30px;
        margin-bottom: 22px;
}
.form-group label{
        margin-left: 7px;
        color: #6C6B6B;
        font-weight: bold;
}
.form-control{
        width: 100% !important;
}

.error label{
        color: rgb(209, 113, 72) !important;
}
.error input::-webkit-input-placeholder {
        color: rgb(209, 113, 72);
}
.error input{
        border: 1px solid rgb(209, 113, 72);
}
.error select{
        border: 1px solid rgb(209, 113, 72);
}
.errorMessage{
     color: rgb(209, 113, 72);
}

#yw0 .form-inline{
        margin-bottom: 20px;
}

#yw0 .form-group{
        width: 25%;
        margin-left: 30px;
}
#yw0 .form-group label{
        margin-left: 7px;
        color: #6C6B6B;
}
#yw0 .form-control{
        width: 100% !important;
}
a {
        color: #4C5356;
        text-decoration: none;
}
.btns{
        margin-right: 192px;
}
.form-group.form-group-full {
    width: 80%;
}
